body{
    background-color: #f2bc94;
    font-family: 'Architects Daughter', cursive;
    color: #30110d;
}
.header_div{
    background-color: #722620;
    color: #30110d;
}
.header_div p{
    color: balck;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
.main_div button{
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    background-color:ivory;
}
.copy-right-footer{
    position: fixed;
    color: #30110d;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #722620;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}